<div class="brand-row brand-row-bounce">
  <div class="brand-text-logo">
    <div class="logo-main"><span class="num-3">3</span><span class="text-folks">Folks</span></div>
    <div class="logo-sub">MEDIA</div>
  </div>
</div>
